<nz-card>
    <div id="pieContainer">
        <div nz-card-grid [ngStyle]="gridStyle">
            <div id="pieCharts1">
            </div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <div></div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <div></div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <div></div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <div></div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <div></div>
        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <div></div>
        </div>
    </div>
</nz-card>
