<nz-layout>
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="menu">
            <li nz-menu-item nzSelected>工作台</li>
            <li nz-menu-item routerLink="/admin/pie">控制台</li>
            <li class="logout">
                <a nzTitle="退出" nzPlacement="bottom" nz-tooltip (click)="logout()">
                    <i nz-icon type="logout" theme="outline"></i>
                </a>
            </li>
        </ul>
    </nz-header>
    <nz-layout>
        <nz-sider nzWidth="200px">
            <ul nz-menu [nzTheme]="'light'" [nzMode]="'vertical'" [nzSelectable]="true" style="height:100%">
                <li nz-menu-item routerLink="/dashboard/user" [nzMatchRouter]="true">
                    <span title><i nz-icon nzType="user" nzTheme="outline"></i>用户管理</span>
                </li>
                <li nz-menu-item routerLink="/dashboard/report/user" [nzMatchRouter]="true">
                    <span title><i nz-icon nzType="area-chart" nzTheme="outline"></i>报表管理</span>
                </li>
                <li nz-menu-item routerLink="/dashboard/plan" [nzMatchRouter]="true">
                    <span title><i nz-icon nzType="compass" nzTheme="outline"></i>计划管理</span>
                </li>
            </ul>
        </nz-sider>
        <nz-content>
            <router-outlet>
            </router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>
