<nz-content style="background: #ECECEC;padding:30px;">
    <div nz-row nzGutter="8" id="div">
        <div nz-col nzSpan="6">
            <nz-card nzTitle="主机列表">
                <nz-list [nzDataSource]="hostData" [nzRenderItem]="item" [nzLoading]="listLoading">
                    <ng-template #item let-item>
                        <nz-list-item [nzActions]="[itemRight]" (click)="searchMoreInfo(item.deviceFlag)"
                                      [ngClass]="(currentHost.deviceName===item.deviceName&&currentHost.diskstatus===item.diskstatus)?'clicked':''"
                                      style="cursor: pointer">
                            {{item.deviceName}}<span style="color: darkorange" (click)="currentHost=item">({{item.ips}}})</span>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
                <ng-template #itemRight>
                    <i nz-icon nzType="dashboard" nzTheme="outline"></i>
                </ng-template>
            </nz-card>
        </div>
        <div nz-col nzSpan="18" style="background: #ECECEC;">
            <div>
                <nz-card [nzHoverable]="true" id="rightTop">
                    <div nz-card-grid [ngStyle]="gridStyle">
                        <p>主机名称: <span
                                style="color: #0df2f6">{{currentMoreInfo.deviceName}}</span></p>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                        <p>操作系统: <span
                                style="color: darkorange">{{currentMoreInfo.deviceOs}}</span></p>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                        <p>系统版本: <span
                                style="color: aqua">{{currentMoreInfo.deviceVersion}}</span></p>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle">
                        <p>CPU架构: <span
                                style="color: blueviolet">{{currentMoreInfo.deviceArch}}</span>
                        </p>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle1">
                        <p>1分钟负载: <span
                                style="color: coral">{{currentMoreInfo.deviceLoadavg1}}</span>
                        </p>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle1">
                        <p>5分钟负载: <span
                                style="color: aquamarine">{{currentMoreInfo.deviceLoadavg5}}</span></p>
                    </div>
                    <div nz-card-grid [ngStyle]="gridStyle1">
                        <p>15分钟负载: <span
                                style="color: greenyellow">{{currentMoreInfo.deviceLoadavg15}}</span></p>
                    </div>
                </nz-card>
            </div>
            <div>
                <div nz-row [nzGutter]="8" style="background: #ECECEC;" id="rightMiddle">
                    <div nz-col [nzSpan]="8">
                        <nz-card [nzTitle]="currentMoreInfo?.cpu?.deviceCpuModle">
                            <p style="width: 50%;display: inline-block;margin-top: 1em;">CPU数量:
                                {{currentMoreInfo?.cpu?.deviceCpuNum}}</p>
                            <p style="width: 50%;display: inline-block;margin-top: 1em;">CPU核数:
                                {{currentMoreInfo?.cpu?.deviceCpuCorenum}}</p>
                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <nz-card [nzTitle]="'内存:'+currentMoreInfo?.mem?.deviceMemAll+'MB'" class="kongxian">
                            <p style="margin: 0">空闲：2500MB</p>
                            <p style="margin: 0">
                                <nz-progress [nzPercent]="62.5"
                                             [nzStrokeColor]="{ '0%': '#ffe59e', '100%': '#8cfac7' }"
                                             nzTitle="空闲:  2500MB" nz-tooltip nzStatus="active">
                                </nz-progress>
                            </p>
                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <nz-card [nzTitle]="'交换分区:  1024MB'" class="kongxian">
                            <p style="margin: 0">空闲: 916MB</p>
                            <p style="margin: 0">
                                <nz-progress [nzPercent]="89.4"
                                             [nzStrokeColor]="{ '0%': '#ffe59e', '100%': '#8cfac7' }"
                                             nzTitle="空闲:  216MB" nz-tooltip nzStatus="active">
                                </nz-progress>
                            </p>
                        </nz-card>
                    </div>
                </div>
            </div>
            <div>
                <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="12">
                        <nz-card>
                            <nz-tabset>
                                <ng-container *ngFor="let item of diskArray">
                                    <nz-tab [nzTitle]="item.deviceDiskName">
                                        <p style="margin: 0;width: 50%;display: inline-block;">
                                            磁盘容量:{{item.deviceDiskAll}}</p>
                                        <p style="margin: 0;width: 50%;display: inline-block;">
                                            空闲容量:{{item.deviceDiskFree}}</p>
                                        <p style="margin: 0">
                                            <nz-progress [nzPercent]="item.percent"
                                                         [nzStrokeColor]="{ '0%': '#ff5722', '100%': '#8cfac7' }"
                                                         [nzTitle]="'已用磁盘用量：'+item.deviceDiskUsed" nz-tooltip
                                                         nzStatus="active">
                                            </nz-progress>
                                        </p>
                                    </nz-tab>
                                </ng-container>
                            </nz-tabset>
                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-card>
                            <nz-tabset>
                                <ng-container *ngFor="let ethItem of ethArray">
                                    <nz-tab [nzTitle]="ethItem.deviceEthName">
                                        <p style="margin: 0;width: 50%;display: inline-block;">
                                            IP地址:{{ethItem.deviceEthIps}}</p>
                                        <p style="margin: 0;width: 50%;display: inline-block;text-align: right;color: #f06b37">
                                            已接入网线</p>
                                        <p style="margin: 0;width: 50%;display: inline-block;">
                                            MAC地址:{{ethItem.deviceEthMac}}</p>
                                        <p style="margin: 0;width: 50%;display: inline-block;text-align: right;color: #f06b37">
                                            网络可用</p>
                                    </nz-tab>
                                </ng-container>
                            </nz-tabset>
                        </nz-card>
                    </div>
                </div>
                <div>
                    <nz-card>
                        <nz-table nzBordered #infoTab [nzData]="infoArray" [nzLoading]="tabLoading"
                                  [nzTotal]="total" [(nzPageIndex)]="page"
                                  [(nzPageSize)]="limit">
                            <thead>
                            <tr>
                                <th>应用名称</th>
                                <th>服务名称</th>
                                <th>运行状态</th>
                                <th>进程号</th>
                                <th>线程数量</th>
                                <th>内存占用</th>
                                <th>启停时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of infoTab.data">
                                <td>{{data.deviceAppName}}</td>
                                <td>{{data.deviceAppServiceName}}</td>
                                <td>{{data.deviceAppStatus}}</td>
                                <td>{{data.deviceAppPid}}</td>
                                <td>{{data.deviceAppTasks}}</td>
                                <td>{{data.deviceAppPmem}}</td>
                                <td>{{data.deviceAppStarttime}}</td>
                            </tr>
                            </tbody>
                        </nz-table>
                    </nz-card>
                </div>
                <!--<nb-card status="success">
                    <nb-card-header>Nebula</nb-card-header>
                    <nb-card-body>
                        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                        Originally, nebula was a name for any diffuse astronomical object,
                        including galaxies beyond the Milky Way.
                    </nb-card-body>
                    <nb-card-footer>By Wikipedia</nb-card-footer>
                </nb-card>-->
            </div>
        </div>
    </div>
</nz-content>
