<div class="login-bg">
    <div class="logo"></div>
    <form nz-form [formGroup]="signup">
        <nz-form-item class="title">
            <span>练手平台-注册</span>
        </nz-form-item>
        <nz-form-item class="formItem">
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefix1">
                    <input type="text" autocomplete="off" nz-input name="uid" placeholder="请输入账号" formControlName="uid">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="formItem">
            <nz-input-group [nzPrefix]="prefix2">
                <input type="text" autocomplete="off" nz-input name="uname" placeholder="请输入密码"
                       formControlName="password" (ngModelChange)="updateConfirmValidator()" type="password">
            </nz-input-group>
        </nz-form-item>
        <nz-form-item class="formItem">
            <nz-form-control [nzErrorTip]="password_Tpl">
                <nz-input-group [nzPrefix]="prefix2">
                    <input type="text" autocomplete="off" nz-input name="uname" placeholder="请确认密码"
                           formControlName="password_" type="password">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button [nzType]="'primary'" (click)="signupFun()" [disabled]="signup.invalid">注册</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<ng-template #prefix1><i>账号丨</i></ng-template>
<ng-template #prefix2><i>密码丨</i></ng-template>
<ng-template #password_Tpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        必填项不能为空
    </ng-container>
    <ng-container *ngIf="control.hasError('confirm')">
        两次密码不一致
    </ng-container>
</ng-template>
